.suggestion-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4fff4;
padding:40px;
}

.suggestion-card{
width:700px;
background:white;
padding:35px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.suggestion-card h1{
text-align:center;
color:#2e7d32;
margin-bottom:20px;
}

.suggestion-card h2{
text-align:center;
margin-bottom:30px;
}

.suggestion-card ul{
list-style:none;
padding:0;
}

.suggestion-card li{
background:#e8f5e9;
margin:15px 0;
padding:18px;
border-radius:10px;
font-size:18px;
}