.profile-container{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4fff4;
}

.profile-card{
width:400px;
padding:30px;
background:white;
border-radius:20px;
text-align:center;
box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.profile-img{
width:120px;
margin-bottom:20px;
}

.profile-card p{
margin:12px;
font-size:18px;
}